
.site-header{
  .navbar{
    background-color: #000;
    padding: 15px 0;
  }
  .header-stripe{
    height: 40px;
    background-color: #ffa031
  }
  .LogoDv{
    min-width: 150px;
    position: relative;
    margin-right: 15px;
    .navbar-brand{
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(#000, 0.8);
      padding: 10px;
    }
  }
  ul{
    font-family: 'Oswald', sans-serif;
    a{
      padding: 5px 10px;
      color: #fff;
      &:hover{
        color: $color-hover;
      }
    }
  }
}